@keyframes fade {
	from {
		opacity: 0;
	}
}
/* ORDER-SECTION */
.order-container {
    width: 100%;
    min-height: 100vh;
    background:  #232323;
    display: flex;
    justify-content: center;
}

#order {
    width: 75%;
}

.cards-order {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    animation: fade 2s;
}

.card-order {
    background: white;
    align-self: center;    
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px -4px black;
    transition: .3s linear;
  }

  .card-order-header {
      background-color: #CA141D;
      text-align: center;
      align-self: center;
      width: 50%;
      padding: 1.2rem 0;
      border-radius: 0 0 2rem 2rem;
      transition: .4s linear;
  }

  .card-order:hover .card-order-header {
      box-shadow: 0 0 0 24rem #CA141D;
  }

  .card-order:hover, .card-order:hover li{
      color: white;
  }

  .card-order ul {
      list-style: none;
      width: 80%;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 3rem;
  }

  .card-order ul li {
      color: black;
      border-bottom: 1px solid #969696;
      padding: 1rem 0;
  }

  .btn-order {
    margin-top: 7rem;
    font-size: 2.5rem;
    color: black;
    background-color: #CA141D;
    width: 18rem;
    padding: 1rem;
    align-self: center;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
  }

  .btn-order:hover {
    transform: rotateX(15deg);
    color: white;
    box-shadow: 0 12px 12px #CA141D;
  }

/* CONTACTS-SECTION */
.contacts-container {
    width: 100%;
    min-height: 80vh;
    background: radial-gradient(#525252, #131313);
    display: flex;
    justify-content: center;
}

#contacts {
    width: 75%;
    position: relative;
}

.contact-card {
    cursor: pointer;
    width: 32rem;
    height: 45rem;
    align-self: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    box-shadow: 0px 6px 4px -3px black;
}

.front img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.arrow {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.arrow img {
    width: 3rem;
}

.front {
    transform: perspective(60rem) rotateY(0deg);
}

.back {
    background: #f1f1f1;
    transform: perspective(60rem) rotateY(180deg);
}

.back-content {
    color: #525252;
    text-align: center;
    width: 100%;
}

.back-content span {
    font-size: 2rem;
}

.back-content h3 {
    font-size: 4rem;
}

.sm {
    margin: 2rem 0;
}

.sm a img{
    display: inline;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 50%;
}

.sm a {
    margin-bottom: 2rem;
}
.sm a:hover {
    color: black;
}

.mapouter {
    width: 100%;
    height: 50%;
    margin-top: 2rem;
}

.contact-card:hover > .front {
    transform: perspective(60rem) rotateY(-180deg);
}

.contact-card:hover > .back {
    transform: perspective(60rem) rotateY(0deg);
}
@media screen and (min-width: 1500px) {
    .contact-card {
        width: 47rem;
        height: 61rem;
    }

    .arrow {
        height: 4rem;
    }

    .mapouter {
        margin-left: 14%;
        margin-top: 20%;
    }

    .card-order {
        width: 400px;
        height: 550px;
    }
}
@media screen and (max-width: 950px) {
    .cards-order {
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
    }

    .card-order {
        margin: 5rem 0rem;
      }

}

@media screen and (max-width: 500px) {
    .order-container {
        min-height: 120vh;
    }
    .card-order {
        width: 90%;
        height: 44rem;
    }
    .contact-card {
        margin-top: 2.5rem;
        height: 47rem;
    }

    .mapouter {
        margin-top: -1rem;
    }
    
    #contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #order {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #order h2 {
        align-self: center;
    }

    #contacts h2 {
        align-self: center;
    }
}