.gallery-section {
    width: 100%;
    min-height: 90vh;
    background:  #232323;
    -webkit-box-shadow: inset 0 0 40px 20px black;
    box-shadow: inset 0 0 40px 20px black;
}

.gallery-nav {
    min-height: 10vh;
    background: black;
    display: flex;
    justify-content: center;    
}

.gallery-nav ul {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 2px #CA141D;
}

#photos, #videos {
    /* width: 100%;
    height: 100%; */
    font-size: 3rem;
    list-style: none;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4rem;
    transition:  0.7s all;
}

#photos:hover, #videos:hover {
    color: #CA141D;
}

.active {
    color: #CA141D;
}

/* VIDEOS-gallery */
.videos-container {
    display: none;
}

.videos-section {
    width: 100%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videoBox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7rem;
}

.video-iframe {
    position: relative;
    width: 50%;
    padding-bottom: 28.1%;
    height: 0;
    box-shadow: -8px -8px 8px rgba(255,255,255,0.2),
                 8px 8px 8px rgba(255,255,255,0.2);
    border-radius: 2rem;
    overflow: hidden;
}

.video-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentVideo {
    width: 40%;
}

.contentVideo h3 {
    font-size: 3rem;
    padding-bottom: 3rem;
}

.contentVideo p {
    font-size: 2rem;
}

/* PHOTOS-gallery */

.photos-section {
    max-width: 192rem;
    width: 100%;
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
    /* margin: 0.2rem; */
}

.image img {
    transition: 0.3s;
    /* padding: 0.5rem 1rem; */
}

.image:hover img {
    transform: scale(1.4) rotate(10deg);
}

    /* MODAL-PHOTOS */

.modal-photos {
    background: rgba(0,0,0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-out;
}

.modal-photos.open {
    opacity: 1;
    pointer-events: all;
}

.modal-photos p {
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left:  50%;
    transform: translate(-50%, -5%);
}

.full-img {
    position: absolute;
    width: 70%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
    z-index: 1;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;
}
@media screen and (min-width: 1500px) {
    .contentVideo h3 {
        font-size: 5rem;
        padding-bottom: 4rem;
    }
    
    .contentVideo p {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 960px) {
    .gallery-section .image {
        flex: 33.33%;
    }    

    .videoBox {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
    }

    .contentVideo {
        width: 60%;
        text-align: center;
    }

    .video-iframe {
        width: 70%;
        padding-bottom: 40%;
    }
}

@media screen and (max-width: 768px) {
    .gallery-section .image {
        flex: 50%;
    }    

    .full-img {
    width: 75%;
    height: 50%;
    }
}

@media screen and (max-width: 480px) {
    .gallery-section .image {
        flex: 100%;
        margin: 1rem 0;
    }    

    .full-img {
        width: 90%;
        height: 40%;
        }

    .videoBox {
        padding: 0;
        height: 80vh;
        margin-top: 5rem;
    }   

    .video-iframe {
        width: 100%;
        padding-bottom: 56.2%;
    }    
    
    .contentVideo {
        margin-top: 5rem;
        width: 80%;
    }
}
