.gallery-section {
    width: 100%;
    min-height: 90vh;
    background:  #232323;
    -webkit-box-shadow: inset 0 0 40px 20px black;
    box-shadow: inset 0 0 40px 20px black;
}

.gallery-nav {
    min-height: 10vh;
    background: black;
    display: flex;
    justify-content: center;    
}

.gallery-nav ul {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 2px #CA141D;
}

#photos, #videos {
    /* width: 100%;
    height: 100%; */
    font-size: 3rem;
    list-style: none;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4rem;
    transition:  0.7s all;
}

#photos:hover, #videos:hover {
    color: #CA141D;
}

.active {
    color: #CA141D;
}

/* VIDEOS-gallery */
.videos-container {
    min-height: 90vh;
    background: darkolivegreen;
    display: none;
    font-size: 5rem;
}

/* PHOTOS-gallery */

.photos-section {
    width: 100%;
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

.image img {
    transition: 0.4s;
    /* padding: 0.5rem 1rem; */
}

.image:hover img {
    transform: scale(1.4) rotate(10deg);
}

/* SLIDESHOW-PHOTOS */

@media screen and (max-width: 960px) {
    .gallery-section .image {
        flex: 33.33%;
    }    
}

@media screen and (max-width: 768px) {
    .gallery-section .image {
        flex: 50%;
    }    
}

@media screen and (max-width: 480px) {
    .gallery-section .image {
        flex: 100%;
    }    
}
