@media screen and (max-width: 1200px) {
    html {
      font-size: 50%;
    }

    #logo {
      flex: 1;
    }

    nav ul li {
        margin-left: 5rem;
    }

    .nav-btn {
      padding: 4vh 0;
      margin-left: 1rem;
    }

    /* .box {
      grid-template-columns: 10% 1fr 10%;
    } */

.box {
  display: flex;
  flex-direction: column;
}

.box h2, .info {
  margin: 0 15%;
  text-align: center;
}

.drone-img {
  width: 80%;
  margin: 2rem 0;
}

.portfolio {
  align-items: center;
}

.portfolio h2 {
  margin-top: 5rem;
  align-self: center;
}

.cards {
  flex-direction: column;
  width: 60%;
}

.card {
  margin: 5rem 0rem;
}

@media screen and (max-width: 600px) {

  nav ul li {
    margin-left: 0;
}

  .cards {
    width: 100%;
  }

  .trailer iframe {
    max-width: 90%;
    max-height: 90%;
    align-self: center;
    border-radius: 10%;
  }

  .iframe-container {
    display: flex;
    justify-content: center;
    box-shadow: none;
    width: 100%;
  }

  .trailer h2 {
    margin: 0 auto;
    text-align: center;   
  }

  .circle {
    width: 90%;
    height: 80%;
    z-index: -1;
  }

  .wave {
    bottom: 43%;
  }

  footer h1 {
    flex: 1;
  }

  .modal {
    overflow: scroll;
    width: 80%;
  }

  @media screen and (max-width: 450px) {
    .trailer iframe {
      max-height: 70%;
    }
  }
