.portfolio-container {
    background: #323232;
    position: relative;
    z-index: 0;
    overflow: hidden;
  } 

  .wave {
    position: absolute;
    left: 0;
    bottom: -7%;
    width: 100%;
    z-index: -1;
  }

  .portfolio {
    min-height: 90vh;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    color: black;
  }

  .h2-cards {
    align-self: flex-start;
  }

  .card {
    background: white;
    margin: 10rem 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    border-radius: 4rem;
    box-shadow: 5px 5px 10px -4px black;
  }

  .card a {
    margin: 2rem 0rem 1rem 0rem;
    font-size: 2.5rem;
    color: black;
    width: 13rem;
    align-self: center;
    text-align: center;
    border: 1px solid #CA141D;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px -4px #CA141D;
  }

  .card a:hover {
    background-color: #CA141D;
    transform: rotateX(15deg);
    color: white;
    box-shadow: 0 12px 12px #CA141D;
  }

  .card p {
    padding: 3rem;
  }

  .card img {
    object-fit: cover;
  }
  @media screen and (min-width: 1500px) {
    .card a {
      margin: 4.5rem 0rem 1.5rem 0rem;
      font-size: 3rem;
    }

    .card p {
      font-size: 3.5rem;
    }

    .card {
      height: 60rem;
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }

  @media screen and (max-width: 1200px) {
    .portfolio {
      align-items: center;
    }
    
    .h2-cards {
      margin-top: 5rem;
      align-self: center;
    }
    
    .cards {
      flex-direction: column;
      width: 60%;
    }
    
    .card {
      margin: 5rem 0rem;
    }
    
  }

  @media screen and (max-width: 600px) {
    .cards {
      width: 100%;
    }

    .cards img {
      height: 30rem;
    }

    .h2-cards {
      margin-top: 0;
    }

    .wave {
      bottom: 43%;
    }
  }
