#topBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: #CA141D;
    color: white;
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 50%;
}

#topBtn:hover{
    background-color: salmon;
}