#topBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: rgb(202,20,29, 0.6);
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.25s;
}

#topBtn:hover{
    background-color: #CA141D;
}

/* @media screen and (max-width: 960px) {
    #topBtn {
      padding: 1rem;
    }
} */