.trailer {
    background: radial-gradient(#525252, #131313);
    min-height: 90vh;
    position: relative;
    z-index: 0;
  }
  
  .circle {
    position: absolute;
    width: 46rem;
    height: 46rem;
    background: #CA141D;  
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .iframe-container {
    position: absolute;
    overflow: hidden;
    border-radius: 2rem;
    height: 34rem;
    width: 60rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    box-shadow: 5px 5px 10px -4px black;
  }

  .iframe-container iframe {
    width: 100%;
    height: 100%;
  }

  .trailer h2 {
    margin-left: 10rem;
  }
